body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}



.header {
    background-color: #1F2937;
    color: white;
    padding: 0 225px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb
}

a {
    color: white;
    text-decoration: none;
}

.header-body {
    display: flex;
    padding: 75px 0;
    justify-content: space-between;

    /* margin: 40px; */
}

.header-intro {
    min-width: 300px;
}


.header-intro .title {
    font-size: 48px;
    color: #F9FAF8;
    weight:900;
    margin-bottom: 16px;
}

.header-intro .subtitle {
    margin-bottom: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-image {
    display: flex;
    background-color: #666D77;
    justify-content: center;
    align-items: center;
    padding: 75px;
}



.header-intro button {
    color: white;
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
}


.container {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.content1, .content2, .content3 {
    flex: 1;
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 225px;
    gap: 24px;
}

.content1-main {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.image {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 16px;
}


.description {
    width: 150px;
    text-align: center;
}

.content1 .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content2 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px 325px;
    justify-content: center;
    /* align-items: end; */
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    /* max-width: 600px; */
}

.author {
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    margin-top: 8px;
}


.content3 {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 50px 125px;
    margin: 50px 325px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.content3 button {
    color: white;
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    border: 2px solid white;
}


.signup-bold {
    font-weight: bold;
}

.signup-normal {
    font-weight: lighter;
    font-size: 12px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 50px;
}
